.main-img {
    width: 100%;
}
form{
    text-align: center;
}
input{
    padding: 5px;
    border: 1px solid lightblue;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.recepy{
    text-align: center;
}
.right{
    float: right;
}
thead{
    background-color: rgba(0, 0, 0, 0.8);
}
thead td {
    color: white;
}
.help-box{
    text-align: center;
}
.copy-con{
  text-align: center;
}
